System name is {{ ansible_facts['fqdn'] }}, running {{ ansible_facts['distribution'] }} - {{ ansible_facts['distribution_version'] }}.
System total memory {{ ansible_facts['memtotal_mb'] }} and processor {{ ansible_facts['processor_count'] }}  
